* {
    color: rgb(109, 108, 108);
}
.App {
    width: 100%; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
}
.centered-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Page styles */
.ifi-logo{
    width: 40px;
    margin: 20px 0px;
}
.pokemon-logo{
    width: 80%;
    padding-bottom: 40px;
}
.container-pokemonList{
    width: 80%;
    gap: 15px;
}
.pokemon-generation, .pokemon-amount {
    text-align: center;
}
.pokemon-generation {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.pokemon-amount {
    font-size: 16px;
    font-weight: 300;
}
.fav-link {
    font-size: 20px;
    position: absolute;
    top:20px;
    right: 30px;
    border: 2px solid rgb(109, 108, 108);
    padding: 10px;
    border-radius: 100%;
}

/* Pokemon card styles */
.pokemon-card {
    border: 1.5px solid rgb(109, 108, 108);
    width: 80%;
    height: 130px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.fav-btn {
    position: absolute;
    right: 20px;
    top:20px;
}
.pokemon-info {
    height: 100%;
    justify-content: space-around;
}
.pokemon-gif {
    width: 60px;
}

/* Search input styles */
.search-input {
    background-color: rgb(220, 220, 220);
    padding: 5px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items: center;
}
.input {
    width: 90%;
    border:none;
    background-color: unset;
}
.magnifying-glass-logo{
    width: 15px;
    margin: auto;
}